{% extends 'main.html' %}

{% block title %}
{{blog.title}}
{% endblock %}

{% block content %}

<main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Topics Involved</h3>
          <div class="singleProject__toolStack">
            {% for tag in blog.tags.all %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{tag}}</small>
            </span>
            {% endfor %}
          </div>
         
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{blog.image.url}}" alt="portfolio thumbnail" />
          <a href="#" class="singleProject__developer">By {{blog.writer}}</a>
          <h2 class="singleProject__title">{{blog.title}}</h2>
          <h3 class="singleProject__subtitle">Article</h3>
          <div class="singleProject__info">
            {{blog.content}}
          </div>

          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              36% Postitive Feedback (18 Votes)
            </h5>

            <form class="form" action="#" method="POST">
              <!-- Textarea -->
              <div class="form__field">
                <label for="formInput#textarea">Comments: </label>
                <textarea class="input input--textarea" name="message" id="formInput#textarea"
                  placeholder="Write your comments here..."></textarea>
              </div>
              <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

{% endblock %}